body{
  font-family: 'Bakbak One', cursive !important;
    font-family: 'Grand Hotel', cursive !important;
    font-family: 'Nunito', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
 text-align: center;
}
.logo img{
  width: 50%;
 
}

.info{
  text-align: center;
   margin: 20px;
   width: auto;
   
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:large;
  color: white;
 
}
.info p{
  text-align: center;
}
.btn{
  text-align: center;
  
 
}
